# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
.venv/

# Database
db.sqlite3

# Media
media/

# Environment variables
.env

# VS Code
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db

# Python cache
*.log

# migrations cache
*.sqlite3-journal